In [269]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import seaborn as sns 
from sklearn import metrics 
import matplotlib.pyplot as plt 

%matplotlib inline

In [270]:
df= pd.read_csv("Data KP Gempa Bumi Wilayah Sumatera Selatan Dan Sekitarnya.csv")
df

,Day,Month,Years,Time,Latitude,Longitude,Depth,Mag,Place
0,4,10,2022,20:14:43,-4.9967,104.2793,112.997,4.40,Kotabumi
1,1,10,2022,13:50:16,-3.8325,101.8353,60.652,4.90,Bengkulu
2,29,9,2022,12:56:31,-5.4541,102.6805,37.099,4.50,kotabumi
3,19,9,2022,19:16:25,-5.5071,102.8860,38.085,4.20,Pagar Alam
4,13,9,2022,11:18:03,-5.6133,104.1844,96.048,4.90,Kotabumi
...,...,...,...,...,...,...,...,...,...
2807,15,4,1916,12:31:43,-4.3380,102.5970,35.000,6.71,Bengkulu
2808,14,7,1914,3:10:26,-5.3050,102.5790,30.000,6.32,Pagar Alam
2809,25,6,1914,19:07:25,-4.0120,101.6380,35.000,7.55,Bengkulu
2810,3,6,1909,18:40:43,-2.7130,101.1880,35.000,7.58,Sungai Penuh
2811,28,10,1906,15:50:18,-4.3450,101.9850,60.000,6.01,Bengkulu

In [271]:
Places =pd.get_dummies(x['Place'],drop_first=True)
Places.head()

,Baturaja,Bejubang Dua,Bengkulu,Curup,Jambi City,Kotabumi,Kuala Tungkal,Lahat,Lubuklinggau,Metro,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [272]:
x = pd.concat([x,Places],axis =1)

In [273]:
import statsmodels.api as sm
x_new = sm.add_constant(x)

In [274]:
x_new.head()

,const,Day,Month,Years,Latitude,Longitude,Depth,Mag,Place,Baturaja,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
0,1.0,4,10,2022,-4.9967,104.2793,112.997,4.4,Kotabumi,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1,10,2022,-3.8325,101.8353,60.652,4.9,Bengkulu,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,29,9,2022,-5.4541,102.6805,37.099,4.5,kotabumi,0,...,0,0,0,0,0,0,0,0,0,1
3,1.0,19,9,2022,-5.5071,102.8860,38.085,4.2,Pagar Alam,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,13,9,2022,-5.6133,104.1844,96.048,4.9,Kotabumi,0,...,0,0,0,0,0,0,0,0,0,0

In [275]:
data_baru = x_new.head()
data_baru

,const,Day,Month,Years,Latitude,Longitude,Depth,Mag,Place,Baturaja,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
0,1.0,4,10,2022,-4.9967,104.2793,112.997,4.4,Kotabumi,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1,10,2022,-3.8325,101.8353,60.652,4.9,Bengkulu,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,29,9,2022,-5.4541,102.6805,37.099,4.5,kotabumi,0,...,0,0,0,0,0,0,0,0,0,1
3,1.0,19,9,2022,-5.5071,102.8860,38.085,4.2,Pagar Alam,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,13,9,2022,-5.6133,104.1844,96.048,4.9,Kotabumi,0,...,0,0,0,0,0,0,0,0,0,0

In [387]:
X = data_baru.drop(['Place','Month','Day','Mag'], axis=1)
y = data_baru['Depth']

In [388]:
X

,const,Years,Latitude,Longitude,Depth,Baturaja,Bejubang Dua,Bengkulu,Curup,Jambi City,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
0,1.0,2022,-4.9967,104.2793,112.997,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2022,-3.8325,101.8353,60.652,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2022,-5.4541,102.6805,37.099,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1.0,2022,-5.5071,102.8860,38.085,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,2022,-5.6133,104.1844,96.048,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [389]:
y

0    112.997
1     60.652
2     37.099
3     38.085
4     96.048
Name: Depth, dtype: float64

In [390]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [391]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4, 91)
(1, 91)
(4,)
(1,)

In [392]:
lin_reg = LinearRegression()

In [393]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [394]:
print(lin_reg.coef_)
print(lin_reg.intercept_)

[ 3.05534714e-02 -7.59813765e-04  8.54298238e-02  1.58134781e-01
  9.96006666e-01  0.00000000e+00  0.00000000e+00  3.18197316e-02
  0.00000000e+00  0.00000000e+00 -7.17673316e-03  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -2.47847698e-02
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  3.18197316e-02  0.00000000e+00
  0.00000000e+00 -7.17673316e-03  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -2.47847698e-02  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00]
-14.091938890515578

In [395]:
coef_dict = {
    'features': X.columns,
    'coef_values':lin_reg.coef_
}
coef = pd.DataFrame(coef_dict,columns=['features','coef_values'])
coef

           features  coef_values
0             const     0.030553
1             Years    -0.000760
2          Latitude     0.085430
3         Longitude     0.158135
4             Depth     0.996007
..              ...          ...
86     Sungai Penuh     0.000000
87       Sungailiat     0.000000
88     Tanjungagung     0.000000
89  Terbanggi Besar     0.000000
90        kotabumi      0.000000

[91 rows x 2 columns]

In [396]:
y_pred = lin_reg.predict(X_test)

In [397]:
lin_reg.score(X_test,y_test)

C:\Users\User\miniconda3\lib\site-packages\sklearn\metrics\_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

nan

In [542]:
X2 = df.drop([ 'Place','Time','Day','Month','Month','Mag','Depth'], axis=1)
y = df['Depth']

In [543]:
X2

      Years  Latitude  Longitude
0      2022   -4.9967   104.2793
1      2022   -3.8325   101.8353
2      2022   -5.4541   102.6805
3      2022   -5.5071   102.8860
4      2022   -5.6133   104.1844
...     ...       ...        ...
2807   1916   -4.3380   102.5970
2808   1914   -5.3050   102.5790
2809   1914   -4.0120   101.6380
2810   1909   -2.7130   101.1880
2811   1906   -4.3450   101.9850

[2812 rows x 3 columns]

In [544]:
y

0       112.997
1        60.652
2        37.099
3        38.085
4        96.048
         ...
2807     35.000
2808     30.000
2809     35.000
2810     35.000
2811     60.000
Name: Depth, Length: 2812, dtype: float64

In [545]:
X2_train, X2_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=0)

In [546]:
print(X2_train.shape)
print(X2_test.shape)
print(y_train.shape)
print(y_test.shape)

(2249, 3)
(563, 3)
(2249,)
(563,)

In [547]:
lin_reg = LinearRegression()

In [548]:
lin_reg.fit(X2_train,y_train)

LinearRegression()

In [549]:
print(lin_reg.coef_)
print(lin_reg.intercept_)

[2.83169487e-02 3.15650952e+01 3.18071581e+01]
-3117.5974769066065

In [550]:
coef_dict = {
    'features': X2.columns,
    'coef_values':lin_reg.coef_
}
coef = pd.DataFrame(coef_dict,columns=['features','coef_values'])
coef

    features  coef_values
0      Years     0.028317
1   Latitude    31.565095
2  Longitude    31.807158

In [551]:
lin_reg.score(X2_test,y_test)

0.47721596610207184

In [556]:
lin_reg.predict([[2090,-4.9967,104.2793]])

C:\Users\User\miniconda3\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([100.69181994])