In [5]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [6]:
df= pd.read_csv("Data KP Gempa Bumi Wilayah Sumatera Selatan Dan Sekitarnya.csv")
df

,Day,Month,Years,Time,Latitude,Longitude,Depth,Mag,Place
0,4,10,2022,20:14:43,-4.9967,104.2793,112.997,4.40,Kotabumi
1,1,10,2022,13:50:16,-3.8325,101.8353,60.652,4.90,Bengkulu
2,29,9,2022,12:56:31,-5.4541,102.6805,37.099,4.50,kotabumi
3,19,9,2022,19:16:25,-5.5071,102.8860,38.085,4.20,Pagar Alam
4,13,9,2022,11:18:03,-5.6133,104.1844,96.048,4.90,Kotabumi
...,...,...,...,...,...,...,...,...,...
2807,15,4,1916,12:31:43,-4.3380,102.5970,35.000,6.71,Bengkulu
2808,14,7,1914,3:10:26,-5.3050,102.5790,30.000,6.32,Pagar Alam
2809,25,6,1914,19:07:25,-4.0120,101.6380,35.000,7.55,Bengkulu
2810,3,6,1909,18:40:43,-2.7130,101.1880,35.000,7.58,Sungai Penuh
2811,28,10,1906,15:50:18,-4.3450,101.9850,60.000,6.01,Bengkulu

In [7]:
X = df.iloc[:,:]

In [8]:
y = df.iloc[:, 7]

In [9]:
X

,Day,Month,Years,Time,Latitude,Longitude,Depth,Mag,Place
0,4,10,2022,20:14:43,-4.9967,104.2793,112.997,4.40,Kotabumi
1,1,10,2022,13:50:16,-3.8325,101.8353,60.652,4.90,Bengkulu
2,29,9,2022,12:56:31,-5.4541,102.6805,37.099,4.50,kotabumi
3,19,9,2022,19:16:25,-5.5071,102.8860,38.085,4.20,Pagar Alam
4,13,9,2022,11:18:03,-5.6133,104.1844,96.048,4.90,Kotabumi
...,...,...,...,...,...,...,...,...,...
2807,15,4,1916,12:31:43,-4.3380,102.5970,35.000,6.71,Bengkulu
2808,14,7,1914,3:10:26,-5.3050,102.5790,30.000,6.32,Pagar Alam
2809,25,6,1914,19:07:25,-4.0120,101.6380,35.000,7.55,Bengkulu
2810,3,6,1909,18:40:43,-2.7130,101.1880,35.000,7.58,Sungai Penuh
2811,28,10,1906,15:50:18,-4.3450,101.9850,60.000,6.01,Bengkulu

In [10]:
y

0       4.40
1       4.90
2       4.50
3       4.20
4       4.90
        ...
2807    6.71
2808    6.32
2809    7.55
2810    7.58
2811    6.01
Name: Mag, Length: 2812, dtype: float64

In [11]:
df['Time']

0       20:14:43
1       13:50:16
2       12:56:31
3       19:16:25
4       11:18:03
          ...
2807    12:31:43
2808     3:10:26
2809    19:07:25
2810    18:40:43
2811    15:50:18
Name: Time, Length: 2812, dtype: object

In [12]:
minutes = []
hours = []
seconds = []

for t in df.Time:
    t  = t.split(":")
    minutes.append(t[1])
    hours.append(t[0])
    seconds.append(t[2])

In [13]:
df['Time'] = pd.to_datetime(df['Time'])

In [14]:
df['Jam'] = df['Time'].dt.hour
df['Menit'] = df['Time'].dt.minute
df['Detik'] = df['Time'].dt.second

In [15]:
df.drop(['Time'], axis=1, inplace=True)
df.head()

,Day,Month,Years,Latitude,Longitude,Depth,Mag,Place,Jam,Menit,Detik
0,4,10,2022,-4.9967,104.2793,112.997,4.4,Kotabumi,20,14,43
1,1,10,2022,-3.8325,101.8353,60.652,4.9,Bengkulu,13,50,16
2,29,9,2022,-5.4541,102.6805,37.099,4.5,kotabumi,12,56,31
3,19,9,2022,-5.5071,102.8860,38.085,4.2,Pagar Alam,19,16,25
4,13,9,2022,-5.6133,104.1844,96.048,4.9,Kotabumi,11,18,3

In [16]:
Places =pd.get_dummies(X['Place'],drop_first=True)
Places.head()

,Baturaja,Bejubang Dua,Bengkulu,Curup,Jambi City,Kotabumi,Kuala Tungkal,Lahat,Lubuklinggau,Metro,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X =X.drop('Place',axis=1)

In [18]:
X = pd.concat([X,Places],axis =1)

In [19]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2, random_state = 0)

In [20]:
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [21]:
y_pred = regressor.predict(X_test)

In [22]:
df =pd.DataFrame({'Actual': y_test,'Predicted':y_pred})
df

      Actual  Predicted
546      5.3        5.3
333      4.3        4.3
70       4.6        4.6
2313     4.7        4.7
118      4.2        4.2
...      ...        ...
2028     4.3        4.3
2082     5.3        5.3
2703     4.7        4.7
566      5.1        5.1
402      4.2        4.2

[563 rows x 2 columns]

In [23]:
from sklearn import metrics  
print('Model R^2 Square value',metrics.r2_score(y_test,y_pred))

Model R^2 Square value 1.0

In [24]:
X_new = sm.add_constant(X)

In [25]:
X_opt = X_new.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]]
regressor_OLS = sm.OLS(endog = y,exog =X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.935e+27
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:51   Log-Likelihood:                 79456.
No. Observations:                2812   AIC:                        -1.589e+05
Df Residuals:                    2795   BIC:                        -1.588e+05
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1.403e-13   5.93e-13      0.237      0.813   -1.02e-12     1.3e-12
Day             1.37e-16   2.86e-16      0.479      0.632   -4.24e-16    6.98e-16
Month         -6.635e-16    7.7e-16     -0.861      0.389   -2.17e-15    8.47e-16
Years          6.744e-17   1.91e-16      0.352      0.725   -3.08e-16    4.43e-16
Latitude      -8.812e-16   3.78e-15     -0.233      0.815   -8.28e-15    6.52e-15
Longitude     -1.485e-15   4.14e-15     -0.359      0.720    -9.6e-15    6.63e-15
Depth          2.656e-17   6.74e-17      0.394      0.694   -1.06e-16    1.59e-16
Mag               1.0000   5.25e-15    1.9e+14      0.000       1.000       1.000
Jam            1.383e-16   3.49e-16      0.397      0.692   -5.46e-16    8.22e-16
Menit          1.579e-16   1.44e-16      1.097      0.273   -1.24e-16     4.4e-16
Detik          5.269e-17    1.4e-16      0.377      0.706   -2.21e-16    3.27e-16
 Baturaja      1.943e-16   2.33e-14      0.008      0.993   -4.55e-14    4.59e-14
 Bejubang Dua -1.443e-15   9.25e-14     -0.016      0.988   -1.83e-13     1.8e-13
 Bengkulu              0   5.93e-15          0      1.000   -1.16e-14    1.16e-14
 Curup        -4.441e-16   1.84e-14     -0.024      0.981   -3.66e-14    3.57e-14
 Jambi City   -8.882e-15   1.31e-13     -0.068      0.946   -2.66e-13    2.48e-13
 Kotabumi      3.608e-16   1.59e-14      0.023      0.982   -3.08e-14    3.15e-14
==============================================================================
Omnibus:                        8.157   Durbin-Watson:                   0.001
Prob(Omnibus):                  0.017   Jarque-Bera (JB):                8.995
Skew:                           0.077   Prob(JB):                       0.0111
Kurtosis:                       3.231   Cond. No.                     4.86e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.86e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [26]:
X_new.head()

,const,Day,Month,Years,Latitude,Longitude,Depth,Mag,Jam,Menit,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
0,1.0,4,10,2022,-4.9967,104.2793,112.997,4.4,20,14,...,0,0,0,0,0,0,0,0,0,0
1,1.0,1,10,2022,-3.8325,101.8353,60.652,4.9,13,50,...,0,0,0,0,0,0,0,0,0,0
2,1.0,29,9,2022,-5.4541,102.6805,37.099,4.5,12,56,...,0,0,0,0,0,0,0,0,0,1
3,1.0,19,9,2022,-5.5071,102.8860,38.085,4.2,19,16,...,0,0,0,0,0,0,0,0,0,0
4,1.0,13,9,2022,-5.6133,104.1844,96.048,4.9,11,18,...,0,0,0,0,0,0,0,0,0,0

In [27]:
X_new.tail()

,const,Day,Month,Years,Latitude,Longitude,Depth,Mag,Jam,Menit,...,Serang,Sijunjung,Solok,Sumatra,Sunda Strait,Sungai Penuh,Sungailiat,Tanjungagung,Terbanggi Besar,kotabumi
2807,1.0,15,4,1916,-4.338,102.597,35.0,6.71,12,31,...,0,0,0,0,0,0,0,0,0,0
2808,1.0,14,7,1914,-5.305,102.579,30.0,6.32,3,10,...,0,0,0,0,0,0,0,0,0,0
2809,1.0,25,6,1914,-4.012,101.638,35.0,7.55,19,7,...,0,0,0,0,0,0,0,0,0,0
2810,1.0,3,6,1909,-2.713,101.188,35.0,7.58,18,40,...,0,0,0,0,0,1,0,0,0,0
2811,1.0,28,10,1906,-4.345,101.985,60.0,6.01,15,50,...,0,0,0,0,0,0,0,0,0,0

In [28]:
X_opt = X_new.iloc[:,[0,1,2,3,4,5,6,7,8,9,10]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 8.995e+27
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:51   Log-Likelihood:                 80367.
No. Observations:                2812   AIC:                        -1.607e+05
Df Residuals:                    2801   BIC:                        -1.606e+05
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -1.19e-13   4.09e-13     -0.291      0.771   -9.21e-13    6.83e-13
Day        -6.592e-17   2.06e-16     -0.320      0.749    -4.7e-16    3.38e-16
Month       4.293e-17   5.56e-16      0.077      0.938   -1.05e-15    1.13e-15
Years       6.223e-17   1.38e-16      0.451      0.652   -2.08e-16    3.33e-16
Latitude   -1.082e-15   2.63e-15     -0.411      0.681   -6.25e-15    4.08e-15
Longitude  -1.013e-15   2.66e-15     -0.380      0.704   -6.24e-15    4.21e-15
Depth       3.534e-17   4.83e-17      0.731      0.465   -5.94e-17     1.3e-16
Mag            1.0000   3.79e-15   2.64e+14      0.000       1.000       1.000
Jam        -1.462e-16   2.52e-16     -0.580      0.562    -6.4e-16    3.48e-16
Menit       6.072e-18   1.04e-16      0.058      0.953   -1.98e-16     2.1e-16
Detik       4.055e-17   1.01e-16      0.402      0.688   -1.57e-16    2.38e-16
==============================================================================
Omnibus:                      237.298   Durbin-Watson:                   0.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1272.616
Skew:                          -0.190   Prob(JB):                    4.52e-277
Kurtosis:                       6.274   Cond. No.                     4.64e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.64e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [29]:
X_opt = X_new.iloc[:,[0,1,2,3,4,5,6,7,8]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.844e+27
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:51   Log-Likelihood:                 78433.
No. Observations:                2812   AIC:                        -1.568e+05
Df Residuals:                    2803   BIC:                        -1.568e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -3.34e-13   8.13e-13     -0.411      0.681   -1.93e-12    1.26e-12
Day         2.463e-16    4.1e-16      0.602      0.548   -5.57e-16    1.05e-15
Month      -4.467e-17   1.11e-15     -0.040      0.968   -2.21e-15    2.12e-15
Years       4.185e-17   2.74e-16      0.153      0.879   -4.96e-16     5.8e-16
Latitude    3.539e-16   5.24e-15      0.068      0.946   -9.91e-15    1.06e-14
Longitude   5.967e-16   5.29e-15      0.113      0.910   -9.79e-15     1.1e-14
Depth      -7.806e-18    9.6e-17     -0.081      0.935   -1.96e-16    1.81e-16
Mag            1.0000   7.52e-15   1.33e+14      0.000       1.000       1.000
Jam         1.106e-16   5.01e-16      0.221      0.825   -8.71e-16    1.09e-15
==============================================================================
Omnibus:                      141.350   Durbin-Watson:                   0.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               56.228
Skew:                           0.005   Prob(JB):                     6.17e-13
Kurtosis:                       2.307   Cond. No.                     4.63e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.63e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [30]:
X_opt = X_new.iloc[:,[0,1,2,3,4,5,6,7]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.102e+28
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:51   Log-Likelihood:                 81057.
No. Observations:                2812   AIC:                        -1.621e+05
Df Residuals:                    2804   BIC:                        -1.621e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.217e-13    3.2e-13     -0.381      0.704   -7.49e-13    5.05e-13
Day         5.898e-17   1.61e-16      0.366      0.714   -2.57e-16    3.75e-16
Month      -4.198e-16   4.34e-16     -0.966      0.334   -1.27e-15    4.32e-16
Years       1.223e-16   1.08e-16      1.134      0.257   -8.91e-17    3.34e-16
Latitude   -3.816e-16   2.06e-15     -0.185      0.853   -4.42e-15    3.65e-15
Longitude  -5.065e-16   2.08e-15     -0.244      0.808   -4.59e-15    3.57e-15
Depth       1.876e-17   3.77e-17      0.497      0.619   -5.52e-17    9.27e-17
Mag            1.0000   2.96e-15   3.38e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                      298.411   Durbin-Watson:                   0.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              909.613
Skew:                           0.549   Prob(JB):                    3.02e-198
Kurtosis:                       5.561   Cond. No.                     4.63e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.63e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [31]:
X_opt = X_new.iloc[:,[0,2,3,4,5,6,7]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 3.963e+27
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:51   Log-Likelihood:                 78494.
No. Observations:                2812   AIC:                        -1.570e+05
Df Residuals:                    2805   BIC:                        -1.569e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.518e-13   7.95e-13      0.317      0.752   -1.31e-12    1.81e-12
Month      -3.608e-16   1.08e-15     -0.334      0.738   -2.48e-15    1.76e-15
Years       -4.89e-17   2.68e-16     -0.182      0.855   -5.75e-16    4.77e-16
Latitude    2.082e-17   5.12e-15      0.004      0.997      -1e-14    1.01e-14
Longitude   3.261e-16   5.17e-15      0.063      0.950   -9.82e-15    1.05e-14
Depth      -2.385e-17   9.38e-17     -0.254      0.799   -2.08e-16     1.6e-16
Mag            1.0000   7.36e-15   1.36e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                      303.588   Durbin-Watson:                   0.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1032.960
Skew:                           0.525   Prob(JB):                    4.96e-225
Kurtosis:                       5.777   Cond. No.                     4.63e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.63e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [32]:
X_opt = X_new.iloc[:,[0,3,4,5,6,7]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 8.732e+27
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:52   Log-Likelihood:                 79348.
No. Observations:                2812   AIC:                        -1.587e+05
Df Residuals:                    2806   BIC:                        -1.586e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.597e-13   5.87e-13     -0.613      0.540   -1.51e-12    7.91e-13
Years       2.866e-16   1.98e-16      1.448      0.148   -1.01e-16    6.74e-16
Latitude    6.592e-16   3.77e-15      0.175      0.861   -6.74e-15    8.06e-15
Longitude  -8.188e-16   3.82e-15     -0.214      0.830    -8.3e-15    6.67e-15
Depth       1.431e-17   6.91e-17      0.207      0.836   -1.21e-16     1.5e-16
Mag            1.0000   5.43e-15   1.84e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                      790.631   Durbin-Watson:                   0.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3054.962
Skew:                           1.340   Prob(JB):                         0.00
Kurtosis:                       7.347   Cond. No.                     4.63e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.63e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [33]:
X_opt = X_new.iloc[:,[0,4,5,6,7]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.409e+30
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:52   Log-Likelihood:                 86181.
No. Observations:                2812   AIC:                        -1.724e+05
Df Residuals:                    2807   BIC:                        -1.723e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2.487e-14   3.31e-14     -0.751      0.453   -8.98e-14    4.01e-14
Latitude    6.245e-17   3.32e-16      0.188      0.851   -5.89e-16    7.14e-16
Longitude   3.539e-16   3.34e-16      1.059      0.290   -3.01e-16    1.01e-15
Depth       1.258e-17   6.08e-18      2.067      0.039    6.48e-19    2.45e-17
Mag            1.0000   4.25e-16   2.35e+15      0.000       1.000       1.000
==============================================================================
Omnibus:                     1434.232   Durbin-Watson:                   0.008
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            13945.139
Skew:                          -2.211   Prob(JB):                         0.00
Kurtosis:                      12.973   Cond. No.                     1.78e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.78e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [34]:
X_opt = X_new.iloc[:,[0,5,6,7]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.516e+29
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:52   Log-Likelihood:                 83354.
No. Observations:                2812   AIC:                        -1.667e+05
Df Residuals:                    2808   BIC:                        -1.667e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6.639e-14   6.95e-14     -0.955      0.340   -2.03e-13    6.99e-14
Longitude   9.073e-16    6.8e-16      1.334      0.182   -4.26e-16    2.24e-15
Depth       9.606e-17   1.34e-17      7.164      0.000    6.98e-17    1.22e-16
Mag            1.0000   1.16e-15   8.61e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                     1953.871   Durbin-Watson:                   0.041
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            34819.132
Skew:                          -3.096   Prob(JB):                         0.00
Kurtosis:                      19.088   Cond. No.                     1.37e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.37e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [35]:
X_opt = X_new.iloc[:,[0,6,7]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Mag   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.453e+31
Date:                Sun, 19 Feb 2023   Prob (F-statistic):               0.00
Time:                        06:33:52   Log-Likelihood:                 88486.
No. Observations:                2812   AIC:                        -1.770e+05
Df Residuals:                    2809   BIC:                        -1.769e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.276e-15   9.17e-16      2.483      0.013    4.79e-16    4.07e-15
Depth      -5.421e-17   2.04e-18    -26.590      0.000   -5.82e-17   -5.02e-17
Mag            1.0000   1.87e-16   5.34e+15      0.000       1.000       1.000
==============================================================================
Omnibus:                     1904.685   Durbin-Watson:                   0.487
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            31798.234
Skew:                           3.009   Prob(JB):                         0.00
Kurtosis:                      18.335   Cond. No.                         718.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
df

      Actual  Predicted
546      5.3        5.3
333      4.3        4.3
70       4.6        4.6
2313     4.7        4.7
118      4.2        4.2
...      ...        ...
2028     4.3        4.3
2082     5.3        5.3
2703     4.7        4.7
566      5.1        5.1
402      4.2        4.2

[563 rows x 2 columns]